.hero {
    height: 100vh;
    width: 100%;
    background: url("/src/assets/imgs/hero-bg.jpg") top center;
    background-size:cover;
}

/* Background Tint */
.hero:after {
    height: 100dvh;
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Hero name */
.hero-container{
    position: relative;
    z-index: 1;
    margin-top: 10rem;
}

.hero p{
    font-size: 20px;
    margin-top: -1rem;
}

.hero span{
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #31bafa;
    font-weight: bold;
}

/* Social Links */
.social-links a {
    font-size: 20px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    margin: 3px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.social-links i{
    display: inline-block;
    margin: 10px;
}

/* Start Button */
.start-button{
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    animation: bobbing 2s ease-in-out infinite;
}

.start-button:hover{
    color: gold;
}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}