#root {
  max-width: 1280px;
  font-size: 16px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content section{
  width: 100vw;
}

/* Large screens */
@media only screen and (min-width: 481px){
  :root{
    overflow-x: hidden;
  }

  .content{
    flex-wrap: wrap;
    width: 100vw;
  }
}

/* Small screens */
@media only screen and (max-width: 480px){
  :root{
    overflow-y: hidden;
  }

  .content{
    flex-wrap: nowrap;
    width: 100%;
  }
}